@model IEnumerable<WebStoreFZF.Models.GioHang>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>

    <title>StoreFZF Cart</title>


    <link href="~/Content/cart.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    @{
        var giohang = Session["GioHang"] as IEnumerable<WebStoreFZF.Models.GioHang>;
        if (giohang.Count() > 0)
        {
            <div class="container">

                <h1>StoreFZF Cart</h1>

                <div class="cart">
                    <div class="products">

                        @foreach (var item in Model)
                        {
                            <div class="product">
                                <img src="@item.ANHBIA" />
                                <div class="product-info">
                                    <h3 class="product-name">@Html.DisplayFor(modelItem => item.TENSANPHAM)</h3>
                                    @using (@Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.IdSanPham }))
                                    {

                                        <h4 class="product-price">Đơn Giá : @String.Format("{0:0,0}", item.DONGIA) VNĐ </h4>
                                        <h4 class="product-offer">Thành Tiền: @String.Format("{0:0,0}", item.DONGIA * @item.iSoluong) VNĐ</h4>
                                        <p class="product-quantity">
                                            Số Lượng: <input type="number" min="1" name="txtSoLg" value="@item.iSoluong" />
                                            <button style="height:30px; font-weight:bold" type="submit" value="Cập nhật" class="btn btn-success" >Cập nhật</button>
                                        </p>
                                    }

                                    <p class="product-remove">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <a class="remove" href="@Url.Action("XoaGioHang", "GioHang",new { @id = item.IdSanPham })" style="font-family: 'Arial Rounded MT'; color: white; text-decoration: none;">Xóa</a>
                                    </p>
                                    <p class="product-chitiet">
                                        <i class="fa fa-dedent" aria-hidden="true"></i>
                                        <a class="remove" href="@Url.Action("ThongTin_DatMua", "Products",new { @id = item.IdSanPham })" style="font-family:'Arial Rounded MT';color:white; text-decoration: none;">Chi Tiết</a>
                                    </p>

                                </div>
                            </div>

                        }
                        <div class="XoaTC"><a href="javascript:remove()">@Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")</a></div>

                    </div>

                    <div class="cart-total">


                        <p>
                            <span>Số sản phẩm</span>
                            <span>@ViewBag.TongSoluongsanpham</span>
                        </p>
                        <p>
                            <span>Số lượng Sản Phẩm:</span>
                            <span>@ViewBag.TongSoluong</span>
                        </p>
                        <p>
                            <span>Tổng Tiền:</span>
                            <span> @String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ</span>
                        </p>
                        <a href="@Url.Action("DatHang", "GioHang")">Đặt Hàng</a>

                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="Trong">
                <img src="~/Content/images/cartthem.png" style="width:200px ;margin-left:230px" />
                <p>
                    <span>Giỏ Hàng Trống</span>
                </p>

                <a href="@Url.Action("AllProducts", "Products")">Về Trang Chủ</a>
            </div>
        }
    }
</body>
</html>
