
@model WebStoreFZF.Models.SANPHAM

@{
    ViewBag.Banner = 2;
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/LayoutChiTiet.cshtml";
}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="@Model.ANHBIA" alt="@Model.TENSANPHAM" id="product-detail">
                </div>

            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">@Model.TENSANPHAM</h1>
                        <p class="h3 py-2">@String.Format("{0:0,0}", @Model.DONGIA) VNĐ </p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                        </p>


                        <h6>Mô tả</h6>
                        <p>@Model.MOTA</p>
                        @if (@Model.ROM != null || @Model.RAM != null)
                        {
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Rom:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>@Model.ROM G</strong></p>
                                </li>
                            </ul>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Ram:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>@Model.RAM G</strong></p>
                                </li>
                            </ul>
                        }


                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">

                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="DatMua">

                                    <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                                new { @id = Model.IdSANPHAM, @strURL = Request.Url.ToString() })">Đặt mua</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
